<div>
    <div ng-repeat="cake in $ctrl.cakes" class="card" style=" margin-top: 2%;" ng-click="$ctrl.setCake(cake)">

        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content" style="margin-top: auto; margin-bottom: auto;">
                    <p class="title is-2">{{cake.name}}</p>
                </div>
            </div>

        </div>
    </div>
</div>