<div class="columns is-centered">
    <div class="column is-full-width-mobile is-one-third-desktop">
        <navbar-component></navbar-component>
        <cake-list-component></cake-list-component>
    </div>

    <add-cake-component></add-cake-component>
    <cake-info-component></cake-info-component>
</div>