<div class="modal is-one-third" ng-class="{'is-active': $ctrl.addCakes}">
    <div class="modal-background" ng-click="$ctrl.dismissModal()"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <div class="control">
                    <input style="margin-top: 5%" class="input" type="text" ng-model="$ctrl.name" placeholder="Name">
                    <input style="margin-top: 1%" class="input" type="text" ng-model="$ctrl.comment" placeholder="Comment">
                    <div style="margin-top: 3%">
                        <span>YUMMINESS: </span>
                        <span style="font-size: 1rem;" ng-repeat="level in $ctrl.yumminessLevels" class="tag is-rounded" ng-style="{ 'background-color' : $ctrl.yumFactor === level ? 'darkgrey' : '' }"
                            ng-click="$ctrl.selectYumFactor(level)">
                            {{level}}
                        </span>
                    </div>

                    <div ng-show="$ctrl.showAlert" class="notification is-danger" style="margin-top: 5%">
                        <button ng-click="$ctrl.dismissAlert()" class="delete"></button> 
                        Make sure <strong>name, comment </strong> and <strong>yumminess</strong> aren't empty :)
                    </div>

                    <a ng-click="$ctrl.addNewCake()" style="margin-top: 5%" class="button is-fullwidth">Add Cake</a>

                </div>
            </div>
        </div>
    </div>
    <button ng-click="$ctrl.dismissModal()" class="modal-close is-large" aria-label="close"></button>
</div>