<div class="modal" ng-class="{'is-active': $ctrl.cake}">
    <div class="modal-background" ng-click="$ctrl.dismissModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{$ctrl.cake.name}}</p>
            <button class="delete" aria-label="close" ng-click="$ctrl.dismissModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content" style="margin-top: auto; margin-bottom: auto;">
                    <p class="title is-2">{{$ctrl.cake.name}}</p>
                    <p><strong>id:</strong> {{$ctrl.cake.id}}</p>
                    <p><strong>comment:</strong> {{$ctrl.cake.comment}}</p>
                    <p><strong>yum factor:</strong> {{$ctrl.cake.yumFactor}}</p>
                </div>

            </div>

        </section>
        <footer class="modal-card-foot">
            <button ng-click="$ctrl.dismissModal()" class="button is-fullwidth is-success">Okay!</button>
        </footer>
    </div>
</div>