<div class="tabs is-right">
    <ul>
        <li  class="is-size-3" ng-class="{'is-active': ctrl.viewCakes}" ng-click="ctrl.activateCakeView()"><a>View Cakes</a></li>
        <li class="is-size-3" ng-class="{'is-active': ctrl.addCakes}" ng-click="ctrl.activateAddCakeView()"><a>Add Cakes</a></li>

    </ul>
</div>